@import "tailwindcss";

@font-face {
  font-family: 'body-font';
  src: url('/font/Ferrari-SansRegular.woff') format('woff');
}

*{
  margin: 0;
  padding: 0;
}

.sf25{
  background-color: rgb(20, 2, 2);
}

.model{
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;   
}


.model iframe {
  width: 1500px;
  height: 900px;
  border: none;
}

.landing{
background-image: rgb(20, 2, 2) ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
width: 1900px;
height: 1080px;
overflow: hidden;
}

.landingtext{
  margin-top: -10%;
  font-family: 'body-font';
}

.button{
  margin-top: 50px;
}

.button:focus{
  outline: #FF2800;
  box-shadow: #FF2800;
}

.inline-block{
  display: inline-block;
}

.space {
    height: 250px;
  }

